
:root {
    --white-primary: var(--primary-text);  
    --primary-color: #1f456e;
    --primary-text: #fff;
    --link-color: var(--purple-orchid);
    --link-hover-color: var(--primary-text);
    --underline-color: var(--primary-text);
    --card-bg: rgba(0, 0, 0, 0.2);
}

.about.abt{
    width: 100%;
    position: relative;
    top: 0;
    background-color: var(--primary-text);
    height: 100vh;
}
.moreksu.abt{
  /* background-color: rgb(182, 182, 255); */
  display: flex;
  width: 40%;
  height: 10rem;
  gap: 2rem;
  justify-content: center;
  overflow: hidden;
  margin: 4% 5% 1% 5%;
}

.moreksu.abt .ksu.abt{
  width: 30%;
  cursor: pointer;
  /* background-color: rgb(182, 182, 255); */
  transition: ease; 
  transition: transform 0.4s ease; 

}
.moreksu.abt .ksu.abt:hover{
  transform: scale(1.1);
}

.moreksu.abt .image_cont{
  width: 100%;
  display: block;
  position: relative;
  top: 30%;
}

.moreksu.abt .image_cont img{
  width: 60%;
  height: auto;
}

.moreksu.abt .image_cont .ksu_labl{
  position: absolute;
  top: 90%;
  color: var(--primary-color);
  cursor: pointer;
}

.moreksu.abt .border.abt{
  border-left: 4px solid var(--primary-color);
  border-radius: 4px;
}

.moreksu.abt .abtttle{
  position: relative;
  top: 15%;
  width: 40%;
  /* background-color: red; */
  font-size: 40px;
  color: var(--primary-color);
}
.card_cont.abt{
    width: 100%;
    margin: auto;
    padding: 10px;
}

.about_card.abt{
    width: 100%;
    margin: 3em auto;
    display: flex;
    /* background-color: var(--primary-color); */
}

.imgabt.abt{
  width: 100%;
  margin: auto;
}

.imgabt.abt img{
  /* border-radius: 5px; */
  width: 150%;
  height: fit-content;
  margin: auto;
}


.content_card.noshadow{
    /* background: linear-gradient(to right, #1f456e, #010e1d); */
    box-shadow: no-shadow;
    /* border-radius: 5px; */
    /* background-color: red; */
    position: relative;
    width: 80%;
    margin-left: 3%;
}

.content.abt{
    width: 100%;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 100;
    text-align: left;
    position: relative;
    top: 10%;
}

.content._2nd.abt{
    color: var(--primary-color);
}

@media (max-width: 600px) {
  .about.abt{
    top: 0;
    height: 100vh;
  }

  .card_cont.abt{
    width: 100%;
  }

  .about_card.abt{
    margin: auto;
    /* background-color: blue; */
  }

  .content.abt{
    width: 100%;
  }
}