
:root {
    --white-primary: var(--primary-text);  
    --primary-color: #1f456e;
    --primary-text: #fff;
    --link-color: var(--purple-orchid);
    --link-hover-color: var(--primary-text);
    --underline-color: var(--primary-text);
    --card-bg: rgba(0, 0, 0, 0.2);
}

.about.page{
    width: 100%;
    background-color: var(--primary-text);
    position: relative;
    top: 0;
    background-color: var(--primary-color);
    height: 100vw;
}
.card_cont.page{
    width: 80%;
    margin: auto;
    padding: 10px;
}

.about_card.page{
    width: 100%;
    margin: 5em auto;
}
.content_card.noshadow{
    /* background: linear-gradient(to right, #1f456e, #010e1d); */
    box-shadow: no-shadow;
    border-radius: 10px;
    /* background-color: red; */
    position: relative;
}

.content.page{
    width: 100%;
    margin: auto;
    color: var(--primary-text);
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}

.content._2nd.page{
    color: var(--primary-color);
}

@media (max-width: 600px) {
  .about.page{
    top: 0;
    height: 100vh;
  }

  .card_cont.page{
    width: 100%;
  }

  .about_card.page{
    margin: auto;
    /* background-color: blue; */
  }

  .content.page{
    width: 100%;
  }
}