.unsubscribe-container {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 3rem;
  background-color: #fdfdfd;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.unsubscribe-intro {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
  font-weight: 500;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.625rem;
  border-left: 0.2rem solid var(--primary-color);
  border-right: 0.2rem solid var(--primary-color);
}

.unsubscribe-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.unsubscribe-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.unsubscribe-form label {
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #333;
  font-size: 1rem;
}

.unsubscribe-form input[type="text"],
.unsubscribe-form input[type="email"] {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border 0.3s ease;
  width: 100%;
  background-color: #f3f3f3;
}


.unsubscribe-form input:disabled {
  background-color: #e9e9e9;
  color: #777;
}

.unsubscribe-button {
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 1rem;
}

.status {
  margin-top: 1rem;
  color: var(--primary-text);
  font-weight: 500;
  text-align: center;
}

.unsubscribe-footer {
  margin-top: 2rem;
  font-size: 0.95rem;
  text-align: center;
}

.unsubscribe-footer a {
  color: var(--primary-color);
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 48rem) {
  .unsubscribe-container {
    margin: 2rem auto;
    padding: 2rem 1.5rem;
  }

  .unsubscribe-title {
    font-size: 1.5rem;
  }

  .unsubscribe-button {
    font-size: 0.95rem;
    padding: 0.6rem 1rem;
  }
}

@media (max-width: 30rem) {
  .unsubscribe-container {
    padding: 1.5rem 1rem;
    margin: auto;
  }

  .unsubscribe-title {
    font-size: 1.3rem;
  }

  .unsubscribe-intro {
    font-size: 0.95rem;
  }

  .unsubscribe-footer {
    font-size: 0.85rem;
  }

  .unsubscribe-button {
    font-size: 0.9rem;
  }
}
