@font-face {
    font-family: "customFont";
    src: url('/fonts/Titillium_Web font/TitilliumWeb-Regular.ttf') format('truetype');
    src: url('/fonts/Titillium_Web font/TitilliumWeb-Bold.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'customFont', sans-serif;
    position: relative;
}
