@font-face {
  font-family: 'TitilliumWeb';
  src: url('/fonts/Titillium_Web_font/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url('/fonts/Titillium_Web_font/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url('/fonts/Titillium_Web_font/TitilliumWeb-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url('/fonts/Titillium_Web_font/TitilliumWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url('/fonts/Titillium_Web_font/TitilliumWeb-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url('/fonts/Titillium_Web_font/TitilliumWeb-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Italics */
@font-face {
  font-family: 'TitilliumWeb';
  src: url('/fonts/Titillium_Web_font/TitilliumWeb-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url('/fonts/Titillium_Web_font/TitilliumWeb-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url('/fonts/Titillium_Web_font/TitilliumWeb-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url('/fonts/Titillium_Web_font/TitilliumWeb-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}



html {
  scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'TitilliumWeb', sans-serif;
}
