@font-face {
    font-family: "customFont";
    src: url('/fonts/Titillium_Web font/TitilliumWeb-Regular.ttf') format('truetype');
    src: url('/fonts/Titillium_Web font/TitilliumWeb-Bold.ttf') format('truetype');
}

/* ======= Color Variables Section (Optional for easy future edits) ======= */
:root {
    --text-white: #fff;
}
:root {
  /* --primary-color: #e780e7; */
  --primary-text: #fff;
  --link-color: #e780e7;
  --link-hover-color: #fff;
  --underline-color: #fff;
  --primary-color: #4d006e;
  --card-bg: rgba(71, 71, 71, 0.7);
}

/* ======= Main Styles ======= */
body {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/rc.jpg') center/cover no-repeat;
    height: 100vh;
    margin: 0;
    font-family: 'customFont', sans-serif;
    position: relative;
    overflow: hidden;
}

.card-container {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    display: flex;
    align-items: flex-end;
}

.left-border {
    width: 4px;
    height: 0;
    background: var(--primary-text);
    animation: borderGrow 1s forwards;
    border-radius: 10px;
}

.card {
    width: 0;
    height: 250px;
    background: var(--card-bg);
    display: flex;
    align-items: left;
    justify-content: left;
    animation: cardExpand 1s forwards;
    animation-delay: 1s;
    overflow: hidden;
}

.card-content {
    opacity: 0;
    transform: translateX(-100%);
    animation: textSlideIn 1s forwards;
    animation-delay: 1s;
}

.card-text {
    color: var(--primary-text);
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    display: inline;
}

.card-text h1 {
    white-space: nowrap;
    font-size: 3rem;
    position: relative;
    left: 18px;
    bottom: 20px;
    color: var(--primary-text);
}

.card-text h2 {
    width: 400px;
    word-wrap: break-word;
    font-size: 2rem;
    position: relative;
    left: 18px;
    bottom: 60px;
    color: var(--primary-text);
}

.action-start {
    font-size: 20px;
    background-color: var(--primary-text);
    color: var(--primary-text);
    padding: 10px 30px;
    border-radius: 10px;
    position: relative;
    bottom: 4em;
    left: 4em;
    border: none;
    color: var(--primary-color);
}

@keyframes borderGrow {
    0% {
        height: 0;
    }
    100% {
        height: 250px;
    }
}

@keyframes cardExpand {
    0% {
        width: 0;
    }
    100% {
        width: 550px;
    }
}

@keyframes textSlideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
