@media (min-width: 900px) {
    .workshops{
        /* background-color: aqua; */
        width: 100%;
    }

    .moreksu.wrk {
        display: flex;
        width: 60%;
        height: 10rem;
        gap: 2rem;
        justify-content: center;
        margin: auto;
        border-radius: 8px;
        margin-top: 2em;
    }
    .content.abt.wrk{
        width: 100%;
        font-size: 1.5rem;
        color: var(--primary-color);
        margin-top: 2rem;
    }
    .border.wrk{
      border-left: 6px solid var(--primary-color);
      border-radius: 3px;
    }
}

@media (max-width: 900px) {
    .moreksu.wrk {
        width: 90%;
        height: auto;
        display: flex;
        gap: 1rem;
        padding: 1rem;
        box-shadow: none;
    }
    
    .border.wrk{
      height: 100px;
      border-left: 6px solid var(--primary-color);
      border-radius: 3px;
    }

    .abtttle.abt.wrk{
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--primary-color);
    }
}