:root {
  --background-color: var(--primary-color);
  --primary-text: #fff;
  --link-color: #054e9c;
  --link-hover-color: #fff;
  --underline-color: #fff;
  --primary-color: #1f456e;
}










































/* About css
.about{
    background-color: var(--link-hover-color);
    width: 100%;
    /* height: 70vh; */
    /* margin: auto; */
    /* position: relative; */
    /* top: 30em; */
/* } */

/* .card_cont{
    background-color: var(--background-color);
    width: 70%;
    display: block;
} */
/* .img {
  width: 60%; */
  /* max-width: 600px; */
  /* margin: 0 auto; */
/* } */

/* .img img {
  width: 70%;
  height: auto; */
  /* object-fit: cover; */
/* } */

/* section .content{
    background-color: aliceblue;
    width: 100%; */
    /* border: 1px solid green; */
/* } */