/* Color Cluster */
:root {
  --primary-color: #1f456e;
  --background-color: var(--primary-color);
  --primary-text: #fff;
}

.top-navbar{
  background-color: var(--primary-text);
  width: 100%;
  position: sticky;
  z-index: 100;
  height: max-content;
  padding: .2rem;
  justify-content: center;
}
.top-navbar-container{
  display: flex;
  gap: 30%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.socials-media{
  display: flex;
  gap: 50%;
}

.ksu a{
  display: flex;
  gap: 15%;
  width: fit-content;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 800;
}
.ksu a p{
  white-space: nowrap;
}
.ksu-logo {
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 15%;
  height: auto;
  
}

.ksu-logo img{
  width: 30%;
  height: auto;  
}

.nav-bar {
  width: 100%;
  height: 12vh;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--primary-color);
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px); 
}

.lgo-txt a {
  position: relative;
  left: 10%;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-text);
}

.links {
  width: 60%;
  display: flex;
  gap: 2%;
  position: absolute;
  left: 40%;
}

.links a {
  position: relative;
  text-decoration: none;
  color: var(--primary-text);
  font-weight: 500;
  padding: .5rem .8rem;
  transition: color 0.3s ease;
}

.links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0;
  height: 2px;
  background-color: var(--link-hover-color);
  transition: width 0.3s ease;
}

.links a:hover::after {
  width: 100%;
}

.links a:hover {
  color: var(--link-hover-color);
}

.links a.active::after {
  width: 100%;
}

.btn-cont {
  width: 30%;
  display: flex;
  gap: 10%;
}

.btn-cont button {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  background-color: var(--primary-text);
  color: var(--primary-color);
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.btn-cont button:hover{
  background-color: var(--primary-color);
  color: var(--primary-text);
}
.sidebar{
  background-color: #1f456e;
}

@media (max-width: 576px) {
.nav-bar {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--primary-color);
}
.lgo-txt a{
  position: relative;
  left: -5%;
}

}

.menu-icon {
  width: 15%;
  padding: 1em;
  font-weight: bold;
  display: none;
  background: none;
  border: none;
  color: var(--primary-text);
  cursor: pointer;
  z-index: 101;
  margin-left: 40%;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* Sidebar overlay */
.sidebar-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 200;
  display: flex;
  justify-content: flex-END;
}

/* Sidebar drawer*/
.sidebar {
  width: 80vw;
  max-width: 50%;
  height: 100%;
  padding: 2rem;
  box-shadow: 2px 0 8px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--primary-color);
  z-index: 201;
}

.close-btn {
  background-color: var(--primary-color);
  border: none;
  color: var(--primary-text);
  font-size: 2rem;
  align-self: flex-start;
  margin-bottom: 2rem;
  cursor: pointer;
  outline: none;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--primary-color);
  width: 70vw;
  padding: 1rem;
}
.link{
  text-decoration: none;
  color: var(--primary-text);
  font-weight: 500;
}

.sidebar-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.ksu-logo img{
  width: 100%;
}

/* Responsive rules */
@media (max-width: 900px) {
  .gallery-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 1rem;
}

  .socials-media{
    display: none;
  }
  .links, .btn-cont {
    display: none;
  }
  .menu-icon {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 901px) {
  .sidebar-overlay {
    display: none;
  }
  .menu-icon {
    display: none;
  }
}
