.eventsSection {
  padding: 2rem;
  background-color: transparent;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 700;
}

.underline {
  height: 3px;
  width: 100%;
  max-width: 180px;
  margin: 0.5rem 0 2rem;
  background: linear-gradient(to right, var(--primary-color));
}

.grid {
  background: #f3f3f3;
  width: 90%;
  margin: auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 1rem;
}

.card {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.details {
  flex: 1;
}

.category {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.details h3 {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.25rem;
}

.datetime {
  font-size: 0.85rem;
  color: #ccc;
}

.noEvents {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.2rem;
  color: var(--primary-color);
}
