.news-section {
  padding: 2rem;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

.news-card {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.news-card:hover {
  transform: translateY(-5px);
}

.news-img-wrapper {
  width: 100%;
  height: 200px; /* remain fixed */
  overflow: hidden;
}

.news-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-content {
  padding: 1rem;
  text-decoration: none;
}
.news-content .date{
  font-size: 0.8rem;
  position: relative;
  float: inline-end;
  color: maroon
}

.news-tag {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
  text-decoration: none;
}

.news-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  color: #000;
}
.viewlink{
  color: #4d4dec;
  text-decoration: none;
  font-size: 0.8rem;
}
.viewlink:hover{
  text-decoration: underline;
}

@media (min-width: 900px) {
  .workshops {
    width: 100%;
  }

  .moreksu.wrk {
    display: flex;
    width: 60%;
    height: 10rem;
    gap: 2rem;
    justify-content: center;
    margin: 2em auto 0 auto;
    border-radius: 8px;
  }
  .workshops-header{
    align-items: center;
  }
  .content.abt.wrk {
    width: 100%;
    font-size: 1.5rem;
    color: var(--primary-text);
    margin-top: 2rem;
    text-align: center;
  }

  .border.wrk {
    border-left: 6px solid var(--primary-color);
    border-radius: 3px;
  }

  .abtttle.abt{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--primary-color);
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -4rem;
  }
}

@media (max-width: 900px) {
  .moreksu.wrk {
    width: 90%;
    height: auto;
    display: flex;
    gap: 1rem;
    padding: 1rem;
  }

  .border.wrk {
    height: 100px;
    border-left: 6px solid var(--primary-color);
    border-radius: 3px;
  }

  .abtttle.abt.wrk {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--primary-color);
    margin-top: 0;
  }

  .content.abt.wrk {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: var(--primary-text);
  }
  .workshops-header{
    width: 90%;
    margin: auto;
    text-align: center;
  }
}
