.news-section {
  padding: 2rem;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

.news-card {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.news-card:hover {
  transform: translateY(-5px);
}

.news-img-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.news-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-content {
  padding: 1rem;
  text-decoration: none;
}

.news-content .date {
  font-size: 0.8rem;
  position: relative;
  float: inline-end;
  color: maroon;
}

.news-tag {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
  text-decoration: none;
}

.news-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  color: #000;
}

.viewlink {
  color: #4d4dec;
  text-decoration: none;
  font-size: 0.8rem;
}
.viewlink:hover {
  text-decoration: underline;
}

.moreksu.wrk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  padding: 1.5rem;
  gap: 1.5rem;
  background: #fff;
  border-radius: 12px;
  flex-wrap: wrap;
  max-width: 1000px;
}

.ksu.abt {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image_cont {
  position: relative;
  width: 100%;
  max-width: 180px;
}

.ksu_lg {
  width: 100%;
  height: auto;
  display: block;
}

.ksu_labl {
  display: none;
}

.border.wrk {
  width: 6px;
  height: 100px;
  background-color: var(--primary-color);
  border-radius: 3px;
}

.abtttle.abt.wrk {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Responsive Styles */
@media (max-width: 900px) {
  .moreksu.wrk {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    width: 85%;
  }

  .abtttle.abt.wrk {
    font-size: 1.5rem;
  }

  .ksu_labl {
    font-size: 0.8rem;
    bottom: -1.5rem;
    display: none;
  }

  .border.wrk {
    height: 6px;
    width: 60px;
    background-color: var(--primary-color);
    margin: 1rem auto;
  }
}
